.demo-area {
  @media (min-width: 40rem) {
    display: flex;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 7fr 3fr;
      grid-gap: 1rem;
    }
  }
}

.demo-sidebar {
  margin-top: 1rem;

  @media (min-width: 40rem) {
    width: 30%;
    margin: 0 0 0 0.5rem;

    @supports (display: grid) {
      width: auto;
      margin: 0;
    }
  }
}

.demo-main {
  @media (min-width: 40rem) {
    width: 70%;
    margin-right: 0.5rem;

    @supports (display: grid) {
      width: auto;
      margin: 0;
    }
  }
}

.actor {
  display: flex;
  background-color: #eee;
}

.actor-name {
  flex-grow: 2;
  margin: 0 1rem;
  display: flex;
  align-self: stretch;
  justify-content: center;
  align-items: center;

  [data-eq-state~='medium'] & {
    font-size: 3rem;
  }
}

.actor-image-container {
  width: 40%;

  [data-eq-state~='medium'] & {
    width: 25%;
  }
}

.actor-image {
  margin: 0 auto;
  display: inherit;
  width: 100%;
}

.movie-header {
  margin: 0;
  background-color: #333;
  color: #eee;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  letter-spacing: 0.0625em;
  text-align: center;

  [data-eq-state~='medium'] & {
    background-color: transparent;
    color: #333;
    font-size: 1.25rem;
    letter-spacing: 0.125em;
    padding: 0 0 1rem;
    margin: 1rem 0;
    border-bottom: 1px solid #ddd;
  }
}

.movie-list {
  margin: 0;
  padding: 1rem;
  list-style: none;
  background-color: #444;

  [data-eq-state~='medium'] & {
    margin: 1rem 0;
    padding: 0;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }
}

.movie-list--item {
  [data-eq-state~='small'] & {
    position: relative;
  }

  [data-eq-state~='medium'] & {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & + & {
    margin-top: 1rem;

    [data-eq-state~='medium'] & {
      margin-top: 0;
    }
  }
}

.movie-image {
  display: none;
  [data-eq-state~='medium'] & {
    display: block;
    width: 100%;
  }
}

.movie-title {
  color: white;
  font-weight: bold;

  [data-eq-state~='medium'] & {
    display: none;
  }
}
